* {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}

/*header>kbd.test{
    margin: 10px;
    display: inline-block;
    width: 60px;
    height: 60px;
    border: 0.5px solid #D1D1D1;
    background: linear-gradient(to bottom, #ffffff 0%,#f3f3f3 100%);
    box-shadow: 0px 3px 3px 0px rgba(151, 151, 151, 0.75), 0px 5px 0px 3px rgba(0, 0, 0, 0.75);
    border-radius: 3px;
}*/

body {
  background: grey url('./imgSrc/wall.png') no-repeat center center;
}

hearder div.search{
  margin: 12px 0px;
}

header{
  position: fixed;
  width: 100%;
  background: #24292E;
  box-shadow: 0px 2px 1px 0px rgba(184,184,184,1);
}
header > div{
  display: flex;
  justify-content: center;
  align-items: center;
}

header div.search .searchInput {
  margin: 11px;
  padding: 7px 10px; 
  line-height: 17px;
  width:280px;
  border-radius: 5px;
  background: #3F4448;
  border: none;
  color: #FFFFFF 
}

header div.search .searchInput:focus {
   background: #4B4F53;
   outline: none;
   outline-offset: none;
   color: #FFFFFF;
}

header div.search .seachButton{
  margin: 11px 0;
  padding: 6px 5px; 
  line-height: 17px;
  border-radius: 5px;
  color: #C8C9CB;
  border: 1px solid  #3F4448; 
  background: #24292E
}

header div.search .seachButton:hover {
  cursor:pointer; 
}

header div.search .seachButton:focus {
   background: #4B4F53;
   outline: none;
   outline-offset: none;
}

.mainWrapper kbd {
  font-size: 1.5em;
  color: #777777;
  font-family: sans-serif;
  width: 60px;
  height: 60px;
  display: inline-block;
  margin: 10px;
  text-transform: uppercase;
  text-align: left;
  padding-left: 5px;
  position: relative;
  border: 0.5px solid #d1d1d1;
  background: linear-gradient(to bottom, #ffffff 0%, #f3f3f3 100%);
  box-shadow: 0px 3px 3px 0px rgba(151, 151, 151, 0.75),
    0px 5px 0px 3px rgba(0, 0, 0, 0.75);
  border-radius: 5px;
}

.mainWrapper kbd img {
  width: 16px;
  height: 16px;
  position: absolute;
  left: 5px;
  bottom: 5px;
}

.mainWrapper div:last-child {
  text-align: left;
  margin-left: 6em;
}

.mainWrapper kbd:hover > button {
  display: inline-block;
}

.mainWrapper kbd > button {
  position: absolute;
  right: 0;
  bottom: 0;
  display: none;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
main > .mainWrapper {
  padding: 20px;
  vertical-align: top;
  display: inline-block;
  text-align: center;
  background: linear-gradient(to bottom, #dcdcdc 0%, #cccccc 50%, #c3c3c3 100%);
  border-radius: 10px;
  box-shadow: 0px 3px 3px 0px rgba(151, 151, 151, 0.75),
    0px 5px 0px 3px rgba(0, 0, 0, 0.75);
  opacity: 0.95;
}

main kbd button {
  color: #777777;
}

