*{
    margin: 0;
    padding: 0;
}

header>kbd.test{
    margin: 10px;
    display: inline-block;
    width: 60px;
    height: 60px;
    border: 0.5px solid #D1D1D1;
    background: linear-gradient(to bottom, #ffffff 0%,#f3f3f3 100%);
    box-shadow: 0px 3px 3px 0px rgba(148, 148, 148, 0.75), 0px 5px 0px 3px rgba(0, 0, 0, 0.75);
    border-radius: 3px;
}

a{
    text-decoration: none;
}

.mainWrapper kbd{
    font-size: 2em;
    width: 3em;
    height: 3em;
    display: inline-block;
    margin: 5px;
    text-transform: uppercase;
    text-align: left;
    padding-left: 5px;   
    position:relative;
    border-radius: 5px;
    box-shadow: 3px 1px 68px -19px rgba(0,0,0,0.34);
}

.mainWrapper div:last-child{
    text-align: left;
    margin-left: 6em;
}

.mainWrapper kbd:hover > button{
    display: inline-block;
}

.mainWrapper kbd > button{
    position: absolute;
    right:0;
    bottom: 0;
    display: none;
}

main{
    text-align: center;
}
main > .mainWrapper {
    display: inline-block;
    text-align: center;
}